// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Flag-icon-css
@import '~flag-icon-css/sass/flag-icon';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';


.list-group-item {
    border-radius: 0 !important;
}
.dropdown-toggle::after, .dropdown-toggle::before {
    display:none !important;
}
.btn:focus, .btn:active, .form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
.form-control:focus {
	border-color: #000000 !important;
}